

:root {
    --background-color: rgb(244, 208, 78);
    --grey: hsl(0, 0%, 42%);
    --dark-grey: hsl(0, 0%, 7%);
    --vertical-spacing: 0.9rem;
    --font-weight-normal: 500;
    --font-weight-bold: 800;
    --card-width-desktop: 350px;
    --card-width-mobile: 320px;
    --font-size-base: 16px;
    --font-size-small: 14px;
}

body {
    background-color: var(--background-color);
    font-family: "Figtree", sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: var(--dark-grey);
}

h2:hover {
    color: rgb(244, 208, 78);
    cursor: pointer;
}

h2, h3, .author-name {
    font-weight: var(--font-weight-bold);
}
h3 {
    font-size: 16px;
}
a {
    color: black;
    text-decoration: none;
}

p {
    color: var(--grey);
    font-size: 16px;
}

.publication-date {
    color: var(--dark-grey);
    font-size: 14px;
}

footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.card {
    width: 80%;
    border: 1px solid black;
    box-shadow: 10px 10px 0 rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1.5rem;
    background: white;
    max-width: var(--card-width-mobile);
    border-radius: 15px;
   
}

.card .article-image {
    width: 100%;

}

.article-image {
    border-radius: 10px;
}

.tag {
    background-color: var(--background-color);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
}

.author-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

p, h2, h3 {
    margin: var(--vertical-spacing) 0;
}


@media screen and (min-width: 768px) {
    .card {
        width: 50%;
        max-width: var(--card-width-desktop);
    }
}